<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VBoxTray.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <VBoxTray.My.MySettings>
            <setting name="VM_PATH" serializeAs="String">
                <value>C:\Program Files\Oracle\VirtualBox</value>
            </setting>
            <setting name="X_PATH" serializeAs="String">
                <value>C:\Program Files (x86)\Xming</value>
            </setting>
            <setting name="X_CONFIG" serializeAs="String">
                <value>C:\apps\config\config.xlaunch</value>
            </setting>
            <setting name="XSHELL_CONFIG" serializeAs="String">
                <value>C:\apps\config\fedora-VM</value>
            </setting>
            <setting name="XSHELL_PATH" serializeAs="String">
                <value>C:\Program Files (x86)\NetSarang\Xshell 6</value>
            </setting>
        </VBoxTray.My.MySettings>
    </userSettings>
</configuration>